node-red/device_monitor.json
[{"id":"aafa5a5f.0032b8","type":"switch","z":"b6318f6f.201c8","name":"Static Threshold ","property":"glucose_value","propertyType":"flow","rules":[{"t":"gt","v":"400","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":260,"wires":[["77d808ec.1d9db8"]]},{"id":"ad6f600c.556f7","type":"debug","z":"b6318f6f.201c8","name":"Send Alert","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":320,"wires":[]},{"id":"77d808ec.1d9db8","type":"template","z":"b6318f6f.201c8","name":"High Value Alert","field":"payload","fieldType":"msg","syntax":"mustache","template":"ALERT!!! Glucose Level  High ","x":480,"y":260,"wires":[["ad6f600c.556f7"]]},{"id":"74d4f352.fd400c","type":"inject","z":"b6318f6f.201c8","name":"Send Data","topic":"device","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":160,"wires":[["1e2fcbbc.428c24"]]},{"id":"1e2fcbbc.428c24","type":"function","z":"b6318f6f.201c8","name":"Device payload","func":"// Device location:\n\nfunction getRandomInt(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\nfunction getRandomDecimal(min, max) {\n    return (Math.round((Math.random() * (max - min) + min)*100))/100;\n}\n\n\nvar gluc_val=getRandomInt(30,450);\n//valArr1[counter1];\nflow.set(\"glucose_value\",gluc_val);\nglobal.set(\"glucose_value\",gluc_val);\nmsg.payload = {\n\t  \"resourceType\": \"Observation\",\n\t  \"id\": \"100\",\n\t  \"subject\": {\n\t\t\"reference\": \"Patient/100\",\n\t\t\"display\": \"John Doe\"\n\t  },\n\t  \"valueQuantity\": {\n\t\t\"value\": gluc_val,\n\n\t  }\n\t\n};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":160,"wires":[["71b99826.0ef368","1058b3e4.57585c","aafa5a5f.0032b8"]],"outputLabels":["msg.payload"]},{"id":"9ca3621c.c0417","type":"comment","z":"b6318f6f.201c8","name":"1. Device Simulator","info":"Sends simulated device sensor data","x":110,"y":120,"wires":[]},{"id":"33de1ea9.eccff2","type":"comment","z":"b6318f6f.201c8","name":"3. Call Prediction API","info":"","x":120,"y":449,"wires":[]},{"id":"fff36375.68b66","type":"comment","z":"b6318f6f.201c8","name":"2. Edge Analytics & Alert","info":"Calculate Moving Z score\n\nThe moving Z-score is a very simple model for measuring the anomalousness of each point in a sequential dataset like a time series. \nGiven a window size w, the moving Z-score is the number of standard deviations each observation is away from the mean, \nwhere the mean and standard deviation are computed only over the previous w observations.","x":190,"y":320,"wires":[]},{"id":"71b99826.0ef368","type":"debug","z":"b6318f6f.201c8","name":"log payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":160,"wires":[]},{"id":"1058b3e4.57585c","type":"function","z":"b6318f6f.201c8","name":"Calc Moving Z Score","func":"var aggwindow = context.get('aggwindow')||[];\n\naggwindow.push(global.get(\"glucose_value\")); \n\nif (aggwindow.length> 30) {\n    sum = aggwindow.reduce((a,b)=>a+b,0);\n    n = aggwindow.length;\n    mean = sum/n;\n    sd = Math.sqrt(aggwindow.map(x=>Math.pow(mean-x,2)).reduce((a,b)=>a+b,0));\n    aggwindow.shift();\n    msg.zscore = (mean-global.get(\"glucose_value\"))/(sd+0.0001)\n}\ncontext.set('aggwindow',aggwindow);\n\nvar min = context.get('min')||300;\nvar max = context.get('max')||0;\n\ncontext.set('min',Math.min(min,global.get(\"glucose_value\")));\ncontext.set('max',Math.max(max,global.get(\"glucose_value\")));\n\nif (msg.zscore === undefined) {\n        msg.zscore = 0;\n    }\nelse \n    msg.zscore = Math.round(msg.zscore*100)/100;\nglobal.set(\"zscore\",msg.zscore)\nmsg.payload=global.get(\"glucose_value\")+\":\"+msg.zscore+\":\"+min+\":\"+max;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":380,"wires":[["b0d96d88.c56a1"]]},{"id":"b0d96d88.c56a1","type":"function","z":"b6318f6f.201c8","name":"Alert on High Z","func":"if (Math.abs(msg.zscore)>0.5) {\n    msg.payload=\"ALERT !!! HIGH Z SCORE\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":480,"y":380,"wires":[["ad6f600c.556f7"]]},{"id":"af0347c0.1a6e48","type":"inject","z":"b6318f6f.201c8","name":"Trigger API","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":509,"wires":[["5fa1a1bf.1a03a"]]},{"id":"52e91faf.e5f5c","type":"http request","z":"b6318f6f.201c8","name":"Call Prediction API","method":"use","ret":"obj","url":"","tls":"","x":490,"y":509,"wires":[["a8c1994c.caa0f8"]]},{"id":"5fa1a1bf.1a03a","type":"function","z":"b6318f6f.201c8","name":"Create Request","func":"var data ={\"patid\":100,\"input\": [[1,199,76,43,0,42.9,1.394,22]]};\nmsg.method = \"POST\";\nmsg.headers = { \"Content-Type\": \"application/json\", };\nmsg.payload = JSON.stringify(data);\nmsg.url = \"http://localhost:5000/api\";\nreturn msg;","outputs":1,"noerr":0,"x":289,"y":509,"wires":[["52e91faf.e5f5c"]]},{"id":"611fb151.8497","type":"debug","z":"b6318f6f.201c8","name":"Log response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":320,"y":640,"wires":[]},{"id":"a8c1994c.caa0f8","type":"function","z":"b6318f6f.201c8","name":"Save Prediction","func":"global.set(\"predicted\",msg.payload.predicted)\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":509,"wires":[[]]}]