node-red/old_dashboard.json
[{"id":"eaee1cf0.02746","type":"inject","z":"99d79364.b24f1","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":110,"y":140,"wires":[["ff50586d.f0a0d8"]]},{"id":"d3eaaa36.1352a8","type":"function","z":"99d79364.b24f1","name":"Glucose #s","func":"if( msg.payload === false ) {\n    return null;\n}\nmsg.payload = global.get(\"glucose_value\");\n//Math.round(Math.random()*100);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["71b06a3f.05e004"]]},{"id":"dbe793ad.9b3ec","type":"ui_chart","z":"99d79364.b24f1","name":"Chart","group":"71b86bec.6cc754","order":0,"width":0,"height":0,"label":"Glucose Value ","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Querying Entropy","dot":false,"ymin":"0","ymax":"500","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":350,"y":240,"wires":[[],[]]},{"id":"af69bf1.21b624","type":"ui_gauge","z":"99d79364.b24f1","name":"Gauge","group":"460dd0aa.f3866","order":0,"width":0,"height":0,"gtype":"gage","title":"Glucose Value","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":280,"wires":[]},{"id":"f5e0250.faa91d8","type":"ui_text","z":"99d79364.b24f1","group":"460dd0aa.f3866","order":0,"width":0,"height":0,"name":"","label":"Z Score","format":"{{msg.payload}}  ","layout":"row-spread","x":307,"y":760,"wires":[]},{"id":"ff50586d.f0a0d8","type":"ui_switch","z":"99d79364.b24f1","name":"","label":"Switch","group":"460dd0aa.f3866","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":140,"wires":[["d3eaaa36.1352a8"]]},{"id":"f168749.1bd7788","type":"function","z":"99d79364.b24f1","name":"Save data","func":"return {\n    payload: {\n        time: new Date().getTime(),\n        data: msg.payload\n    }\n};","outputs":1,"noerr":0,"x":359,"y":547,"wires":[["e3ace823.c60458"]]},{"id":"7adfb937.927ed8","type":"ui_text","z":"99d79364.b24f1","group":"460dd0aa.f3866","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":310,"y":80,"wires":[]},{"id":"378b8cdf.ca3d14","type":"inject","z":"99d79364.b24f1","name":"Values","topic":"","payload":"Use the toggle switch to start / stop Dashboard Update","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":90,"y":80,"wires":[["7adfb937.927ed8"]]},{"id":"5ee3691.2cf8398","type":"ui_toast","z":"99d79364.b24f1","position":"top right","displayTime":"5","highlight":"black","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":800,"y":320,"wires":[]},{"id":"a13f87.54448078","type":"switch","z":"99d79364.b24f1","name":"Warn on High Values","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"300","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":320,"wires":[["4e629f62.b4794"]]},{"id":"4e629f62.b4794","type":"template","z":"99d79364.b24f1","name":"Alert Msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Critical Glucose Value Detected {{payload}}","output":"str","x":610,"y":320,"wires":[["5ee3691.2cf8398"]]},{"id":"71b06a3f.05e004","type":"link out","z":"99d79364.b24f1","name":"","links":["5de6077f.91cd88"],"x":555,"y":140,"wires":[]},{"id":"5de6077f.91cd88","type":"link in","z":"99d79364.b24f1","name":"","links":["71b06a3f.05e004"],"x":95,"y":360,"wires":[["dbe793ad.9b3ec","af69bf1.21b624","a13f87.54448078","f168749.1bd7788","466ee381.27106c","5bd01dc4.2e3994"]]},{"id":"466ee381.27106c","type":"function","z":"99d79364.b24f1","name":"ZScore","func":"msg.payload =global.get(\"zscore\");\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":661,"wires":[["27a33338.8ceebc","91c5f45a.74f9a8","f5e0250.faa91d8"]]},{"id":"27a33338.8ceebc","type":"ui_chart","z":"99d79364.b24f1","name":"Chart","group":"71b86bec.6cc754","order":0,"width":0,"height":0,"label":"Z Score ","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Querying Entropy","dot":false,"ymin":"-2","ymax":"2","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":297,"y":700,"wires":[[],[]]},{"id":"34b7f199.dd083e","type":"ui_toast","z":"99d79364.b24f1","position":"top left","displayTime":"5","highlight":"red","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":527,"y":720,"wires":[]},{"id":"91c5f45a.74f9a8","type":"switch","z":"99d79364.b24f1","name":"Warn on High Z ","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0.3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":661,"wires":[["f8f756b6.171958"]]},{"id":"f8f756b6.171958","type":"template","z":"99d79364.b24f1","name":"Alert Msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : HIGH MOVING Z SCORE {{payload}}","output":"str","x":510,"y":661,"wires":[["34b7f199.dd083e"]]},{"id":"e3ace823.c60458","type":"file","z":"99d79364.b24f1","name":"Write to file","filename":"glucose_data","appendNewline":true,"createDir":false,"overwriteFile":"false","x":589,"y":547,"wires":[]},{"id":"49b1a5dd.95d20c","type":"ui_text","z":"99d79364.b24f1","group":"460dd0aa.f3866","order":0,"width":0,"height":0,"name":"","label":"Risk Category","format":"{{msg.payload}}  ","layout":"row-spread","x":600,"y":440,"wires":[]},{"id":"5bd01dc4.2e3994","type":"function","z":"99d79364.b24f1","name":"Get Risk ","func":"var predicted= global.get(\"predicted\");\nif (predicted ==1) \n    msg.payload = \"High Risk\";\nelse\n    msg.payload = \"Low Risk\"; \nreturn msg;","outputs":1,"noerr":0,"x":360,"y":440,"wires":[["49b1a5dd.95d20c"]]},{"id":"d40b2c4d.be5b5","type":"ui_text","z":"99d79364.b24f1","group":"a5ae321b.471d8","order":1,"width":0,"height":0,"name":"","label":"Patient Name : ID","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":20,"wires":[]},{"id":"233921c9.29b66e","type":"inject","z":"99d79364.b24f1","name":"Values","topic":"","payload":"John Doe : 100","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":90,"y":20,"wires":[["d40b2c4d.be5b5"]]},{"id":"a4523bc6.8a4ae8","type":"comment","z":"99d79364.b24f1","name":"Get continuous glucose value","info":"","x":620,"y":100,"wires":[]},{"id":"5f7c432e.627ebc","type":"comment","z":"99d79364.b24f1","name":"Display Glucose Chart & Alert","info":"","x":580,"y":240,"wires":[]},{"id":"24dcc746.30b3a8","type":"comment","z":"99d79364.b24f1","name":"Save Data to file or DB/API","info":"","x":450,"y":500,"wires":[]},{"id":"6bd7bc35.f07f44","type":"comment","z":"99d79364.b24f1","name":"Display Chart/Alert for Moving Z Score","info":"","x":190,"y":600,"wires":[]},{"id":"9dc4a8d7.631a18","type":"comment","z":"99d79364.b24f1","name":"Risk from Prediction API","info":"","x":450,"y":380,"wires":[]},{"id":"7e6c4ba.6fba5b4","type":"comment","z":"99d79364.b24f1","name":"Display Patient","info":"","x":520,"y":20,"wires":[]},{"id":"71b86bec.6cc754","type":"ui_group","z":"99d79364.b24f1","name":"Charts","tab":"b860d238.0d689","order":3,"disp":true,"width":"6","collapse":true},{"id":"460dd0aa.f3866","type":"ui_group","z":"","name":"Observation","tab":"b860d238.0d689","order":2,"disp":true,"width":"6","collapse":false},{"id":"a5ae321b.471d8","type":"ui_group","z":"","name":"Patient","tab":"b860d238.0d689","order":1,"disp":true,"width":"6","collapse":false},{"id":"b860d238.0d689","type":"ui_tab","z":"99d79364.b24f1","name":"Continuous Glucose Monitor","icon":"dashboard","order":2}]